.comparisonTableContainer {
    width: 100%;
    border-collapse: collapse;
}


.comparisonTableContainer th, .comparisonTableContainer td {
    border: 6px solid #ddd;
    padding: 8px;
    text-align: center;
}
.comparisonTableContainer th {
    background-color: #ddd;
    font-weight: bold;
}
.comparisonTableContainer2 {
    width: 50%;
    border-collapse: collapse;
}

.comparisonTableContainer2 th, .comparisonTableContainer2 td {
    border: 6px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 30%; /* Colonne de largeur fixe */

}
.comparisonTableContainer2 th {
    background-color: #ddd;
    font-weight: bold;
}
.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.checkmark {
    fill: rgb(52, 194, 111);
    font-weight: bold;
}
.grey-button {
    padding: 5px 7px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    display: inline-block;
    margin-right: 10px;
}



.orange-button {
    padding: 5px 7px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FFA500;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;

    display: inline-block;
}



.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-container .grey-button,
  .button-container .orange-button {
    margin-right: 20px;
    margin-left: 20px;

  }
  
  .text-container img {
    vertical-align: middle;
    margin-right: 10px;
}
.text-container {
    width: 35%;
    border: 1px solid #ddd;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.indent {
    padding-left: 20px;
  }